.App {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(to top, #ec8366 0%, #f58c3c 100%);
}

h1 {
  color: hsl(0, 0%, 94%);
}

.Logo-tag {
  text-align: center;
  background-image: linear-gradient(to top, #ec8366 0%, #f58c3c 100%);
  padding: 20px;
  width: 1000px;
}
