.App {
  display: flex;
  justify-content: center;
  text-align: center;
}

h1 {
  color: hsl(0, 0%, 94%);
}

.Logo-tag {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, #ec8366 0%, #f58c3c 100%);
  /* border-radius: 0px 0px 10px 10px; */
  padding: 20px;
  /* box-shadow: 20px 15px 10px rgba(116, 116, 116, 0.4); */
}
